.login_background {
    background-image: url("../img/login_back.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.login_container {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.login_box {
    background-color: rgba(255, 255, 255, 0.7);
    width: 400px;
    border-radius: 3px;
    display: flex;
}

.avatar {
    padding: 10px;
    box-shadow: 0 0 10px #fbfbfb;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fbfbfb;
}

.login_form {
    /*position: absolute;*/
    bottom: 20px;
    width: 100%;
    padding: 30px 20px 10px 20px;
    box-sizing: border-box;
    /*margin: ;*/
}

.login_form .button-container {
    display: flex;
    /* 使用 flex 布局 */
    width: 100%;
    /* 可选：根据需要设置容器的宽度 */
    justify-content: space-between;
    /* 可选：在按钮之间添加间距 */
    margin-top: 20px;
    /* 可选：根据需要设置上边距 */
}

.login_form .el-button {
    /*margin: 0; !* 移除按钮的默认外边距 *!*/
    padding: 15px 30px;
    /* 根据需要调整内边距 */
    text-align: center;
    /* 确保按钮内的文本居中（虽然这通常是默认的） */
    box-sizing: border-box;
    /* 包括内边距和边框在内计算按钮的总宽度 */
}

a {
    text-decoration: none;
}

/*.el-menu {*/
/*    background-color: #d21300 !important;*/
/*}*/

/*.el-menu > .el-menu-item {*/
/*    width: 150px; !* 根据需要调整宽度 *!*/
/*    text-align: center; !* 可选，使文本居中 *!*/
/*    color: white !important;*/
/*    transition: background-color 0.3s, color 0.3s;*/
/*}*/

/*!* 鼠标悬停时的样式 *!*/
/*.el-menu .el-menu-item:hover {*/
/*    background-color: #fa1a00 !important;*/
/*    color: #ffffff !important;*/
/*}*/